.ant-table .ant-table-thead > tr > th {
    background-color: #ddf3fb;
    padding: 6px 3px;
}

.ant-table .ant-table-tbody > tr > td {
    padding: 6px 3px;
}

/* Đặt css khoảng cách cell trong table */
.ant-table.ant-table-middle .ant-table-tbody>tr>td {
    padding: 3px 3px !important;
}

.ant-table.ant-table-middle .ant-table-thead>tr>th {
    padding: 6px 3px !important;
}

.ant-input {
    line-height: 1.5715 !important; /*do devexpress nên cần đặt lại*/
}