/*  */
:root {
    --d-font-family: "Open Sans",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    --d-font-size: 14px;
    --d-font-weight: 400;
    --d-line-height: 22px;
    --d-disabled-opacity: 0.6;

}

:root {
    --d-input-color: #333;
    --d-input-background-color: #ffffff;
    --d-input-readonly-background-color: #091E420F;
    --d-input-border-color: #d9d9d9;
    --d-input-hover-border-color: #0055CC;
    --d-input-focus-ring-color: #0C66E4;
    --d-input-focus-ring-style: solid;
    --d-input-focus-ring-width: 1px;
    --d-input-focus-ring-offset: 0px;
    --d-input-font-weight: var(--d-font-weight);
    --d-input-padding-x: 8px;
    --d-input-padding-y: 2px;
    --d-input-border-radius: 2px;
    --d-input-border-width: 1px;
}

/* global style */
#app {
    background-color: #e4e9e7;
    color: #333131;
    font-family: var(--d-font-family);
    font-size: var(--d-font-size);
    font-weight: var(--d-font-weight);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.layout-wrapper {
    display: block;
    background-color: var(---d-main-background-color);
    min-height: 100vh;
}

.required::before {
    content: '*';
    position: relative;
    color: red;
    left: -2px;
    top: -2px;
}



.btn-save {
    width: 100px;
}

.btn-cancel {
    width: 100px;
}

.btn-save-new {
    width: 150px;
}

.datetime:focus,
.datetime:hover {
    border: 1px solid #40a9ff;
    outline: none;
}

.bold {
    font-weight: bold;
}

/* grid layout */
.col-span-1\/2 {
    grid-column: 1 / span 2;
}

.col-span-1\/3 {
    grid-column: 1 / span 3;
}

.col-span-1\/4 {
    grid-column: 1 / span 4;
}

.col-span-1\/5 {
    grid-column: 1 / span 5;
}

.col-span-1\/6 {
    grid-column: 1 / span 6;
}


.col-span-2\/2 {
    grid-column: 2 / span 2;
}

.col-span-2\/3 {
    grid-column: 2 / span 3;
}

.col-span-2\/4 {
    grid-column: 2 / span 4;
}

.col-span-2\/5 {
    grid-column: 2 / span 5;
}

.col-span-2\/6 {
    grid-column: 2 / span 6;
}


.col-span-3\/2 {
    grid-column: 3 / span 2;
}

.col-span-3\/3 {
    grid-column: 3 / span 3;
}

.col-span-3\/4 {
    grid-column: 3 / span 4;
}

.col-span-3\/5 {
    grid-column: 3 / span 5;
}

.col-span-3\/6 {
    grid-column: 3 / span 6;
}