:root {
    --x-layout-header-height: 40px;

    --x-nav-background-color: #001529;
    --x-nav-color:#EEEEEE;
    --x-nav-background-color-active: #1890ff;
    --x-nav-color-active: #FFFFFF;
    --x-nav-height: 40px;
    --x-nav-font-size: 14px;
}

html,
body,
#app {
    height: 100%;
}

/* Đặt css khoảng cách cell trong table */
.ant-table.ant-table-middle .ant-table-tbody>tr>td {
    padding: 3px 3px !important;
}

.ant-table.ant-table-middle .ant-table-thead>tr>th {
    padding: 6px 3px !important;
}

.btn-save {
    width: 100px;
}

.btn-cancel {
    width: 100px;
}

.btn-save-new {
    width: 150px;
}

.datetime {
    border: 1px solid #d9d9d9;
    padding: 4px 10px;
}

.datetime:focus,
.datetime:hover {
    border: 1px solid #40a9ff;
    outline: none;
}

/* x: custom components */
.x-input {
    padding: 2px 5px 2px 5px;
}