:root {
    --v-font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
    --v-font-size: 14px;
    --v-font-weight: 400;
    --v-line-height: 1rem;
}

:root {
    --v-primary-color: #5856d6;
    --v-primary-contrast-color: #ffffff;
    --v-primary-hover-color: #5856d6;
    --v-primary-active-color: #5856d6;
}

body {
    display: block;
    font-family: var(--v-font-family);
    font-size: var(--v-font-size);
    font-weight: var(--v-font-weight);
    line-height: var(--v-line-height);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}